# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules

# Rust
/target
songwalker_core/target
songwalker_cli/target
**/*.rs.bk
Cargo.lock

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local
.env

# IDE
.idea
.vscode/

# Build outputs
/build
/dist
**/dist
/out
/pkg
