.container {
  padding: 8px;
}


.title {

}

.editor {
  border: 2px solid #AAA;
  border-radius: 4px;
  white-space: pre;
  padding: .2em;
  color: #AAA;
  //overflow: hidden;

  //operator,
  //delimiter,
  //punctuation {
  //}
  //& > * {
  //  //padding: 0 2px;
  //  transition: background-color 0.3s, max-width 1s;
  //}


  & > [active] {
    //font-style: italic;
    //text-decoration: underline;
    //font-weight: bold;
    //transition: background-color;
    transition: background-color 0s;
    background-color: #050;
    border-radius: 12px;
    padding: 2px 8px;
    margin: -2px -8px;
  }

  & > :not([cursor]) {

  }

  //token-unknown {
  //  color: #939393;
  //
  //  &[active] {
  //    color: #ab1b00;
  //  }
  //}

  & > [cursor] {
    font-weight: bold;
  }


  swe-wait {
    //margin-right: 4px;
    color: #ff8383;
    //float: right;
  }

  swe-cmd {
    //margin-right: 4px;
    color: #00FF09;
    //font-weight: bold;
  }

  //track-statement {
  //  //margin-right: 4px;
  //  color: #00fff7;
  //  font-weight: bold;
  //}

  swe-track {
    color: #6b77ff;
    font-weight: bold;
  }

  swe-var {
    color: #F5E960;
    //max-width: 100vw;
    //display: inline-block;
  }

  swe-func {
    color: #00daff;
    //color: #6b77ff;
    //color: #6bbaff;
    //max-width: 100vw;
    //display: inline-block;
  }

  &:not(:focus) > swe-var,
  &:not(:focus) > swe-func {
    //max-width: 10rem;
    //overflow-x: clip;
    //text-overflow: ellipsis;
  }

  //function-name {
  //  color: #b571ff;
  //}
  //
  //param-key,
  //assign-to-variable,
  //param-variable {
  //  color: #38B9FF;
  //}
  //
  //param-string {
  //  color: #55D6C2;
  //}
  //
  //param-numeric {
  //  //color: #ff944d;
  //  //font-weight: bold;
  //}
  //
  //param-duration {
  //  color: #ff944d;
  //
  //}
  //
  //param-factor {
  //  font-weight: bold;
  //}
}

.errorBorder {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: smaller;
}
